<h1>Deploy Janky</h1>

<p>
  Want to run your own <a href="https://github.com/blog/1013-janky">Janky</a>?
  Want to do it as fast as possible? Just fill out the few fields below and we
  will do all of the heavy lifting for you.
</p>

<p>
  When your Janky has been deployed, which includes transferring it to your
  Heroku account. We will send you a notification to the email specified below.
</p>

<div class="beta">
  <p>
    <strong>Thanks for trying the public beta!</strong> Hubot Factory is still
    under active development and tweaking. If you come across issues when
    deploying your Janky please email
    <a href="mailto:hello+janky@tomb.io">hello+janky@tomb.io</a>
  </p>
</div>

<form action="/janky/build" id="build-janky" method="post">

  <h2>Heroku Details</h2>

  <p>
    Your Janky will need deploying to your Heroku account. Therefore we'll
    need the email associated with your Heroku account.
  </p>

  <p>
    <label for="email">Your Email:</label>
    <input type="text"placeholder="janky@example.com" name="email" />
  </p>

  <h2>Configure Janky</h2>

  {{#vars}}
  <p>
    <label>{{desc}}</label>
    <input name="config-{{name}}" placeholder="{{name}}" type="text" />
  </p>
  {{/vars}}

  <h2>Deploy Your Janky!</h2>

  <p>
    That's it! Once you click <strong>Deploy</strong> we'll queue up your Janky
    on the conveyor belt. As soon as it's built and deployed we will email to
    you let you know.
  </p>

  <p>
    <input type="submit" name="submit" value="Build & Deploy" />
  </p>
</form>
